appdirs==1.4.3
evernote3==1.25.12
httplib2==0.10.3
Markdown==2.6.8
oauth2==1.9.0.post1
oauthlib==2.0.2
packaging==16.8
py==1.4.33
pyparsing==2.2.0
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
